<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="{{recipe?.picture}}">
    <mat-card-title>{{recipe?.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>#{{recipe?.id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{recipe?.picture}}" alt="Photo of a Cocktail">
  <mat-card-content *ngIf="toggled">
    <p>
      {{recipe?.description}}
    </p>
      <ul>
        <li *ngFor="let ingredi of recipe?.ingredients">
          {{ingredi.ingredient.name}}
        </li>
      </ul>

  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!toggled" mat-button (click)="toggle()">Ingredients</button>
    <button *ngIf="toggled" mat-button (click)="toggle()">Hide Ingredients</button>
    <a mat-button [routerLink]="[recipe?.id]">details</a>
    <button mat-button (click)="delete.emit(recipe?.id)">delete</button>

  </mat-card-actions>
</mat-card>
