<form [formGroup]="recipeForm">

  <mat-form-field>
  <div *ngIf="!recipeForm.valid"
    class="alert alert-danger">
  </div>
  <mat-label for="name">Name: </mat-label>
  <input matInput id="name" type="text" formControlName="name">
  </mat-form-field>

  <div *ngIf="recipeForm.controls.picture.errors?.['forbiddenName']"
    class="alert alert-danger">
    l'url doit commencer par http:// ou https://
    {{recipeForm.controls.picture.errors | json}}
  </div>
  <div *ngIf="recipeForm.controls.picture.errors?.['required']"
    class="alert alert-danger">
    l'url est required
    {{recipeForm.controls.picture.errors | json}}
  </div>
  <label for="picture">PictureUrl: </label>
  <input id="picture" type="text" formControlName="picture">

  <label for="description">description: </label>
  <input id="description" type="text" formControlName="description">

  <div formArrayName="ingredients">
  <div *ngFor="let ingredient of recipeForm.controls.ingredients.controls; index as i">
    <label for="ingredient">ingredient: </label>
    <input type="text" [formControlName]="i">
  </div>
</div>

<!-- <div *ngFor="let ingredient of recipeForm.controls.ingredients.controls">
  <label for="ingredient">ingredient: </label>
  <input type="text" formControlName="ingredient">
</div> -->

  <button mat-button (click)="pushIngredient()">ingredient + </button>


</form>

<button  [disabled]="!recipeForm.valid" (click)="submit()">submit</button>
